@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-general: var(--font-general-sans);
	--font-alexandria: var(--font-alexandria);
	--font-clash-bold: var(--font-clash-bold);
	--font-silka: var(--font-silka);
	--font-blauer-semibold: var(--font-blauer-semibold);
	--color-theme-color: #6c0443;
	--color-theme-color-focused: #af006a;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-general), system-ui, sans-serif;
}

@keyframes RightToLeft {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-50%);
	}
}
.RightToLeft {
	animation: RightToLeft 10s infinite linear;
}
